<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Personas</title>
</head>
<body>
    
    <h1>Hola! Creaste una persona.</h1>

    <p>Si deseas crear otra persona ingresa a la vista "/crear-personas/"</p>

    <p>Para ver el Listado de Personas creadas debes ingresar a la vista "/ver-personas/" aqui!</p>
   
    <h2>Gracias por su visita</h2>

</body>
</html>