<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Personas</title>
</head>
<body>
    
    <h1>Hola! Estas en la vita para crear personas</h1>

    <p>Si deseas crear una persona debes ingresar los campos abajo reflejados 
    despues de la url</p> <h2>"crear-personas/"</h2><p> separa cada campo con una</p> <h2>" / "</h2>
    
    <h2>Campos a ingresar:</h2>

    <ul>
        <li>Nombre</li>
        <li>Apellido</li>
        <li>Edad</li>
    </ul>

    <h2>Gracias por su visita</h2>

</body>
</html>